<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client">
  </script>
<% } %>
</head>
<body>
  <nav>
    <div>
      <a href="/"><img
      src="/assets/images/mothmagic.png"
      alt="moth humanoid magician" class="leftnav">
    </a>  Logo to Main Page
    </div>
  <a href="/monsters" class="rightnav">Monsters   </a>
  <a href="/profiles/index" class="rightnav">Profiles   </a>
  <% if (user) { %>
    <a href="/auth/logout" class="rightnav">Logout   </a>
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
  <% } %>
</nav>