html {
  box-sizing: border-box;
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #23292F;
  color: #F4B393;
  justify-content: center;
  text-align: center;
  font-family: 'Cute Font', cursive;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  color: #66101F;
  background-color: #F1FFC4;
  font-size: 25px;
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  min-height: 60px;
  padding: 0 20px 0 30px;
}

nav>i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #66101F;
}

nav>a:visited {
  color: #66101F;
}

nav>a:hover {
  color: #F4B393;
  background-color: #23292F;
}

nav>a.active {
  color: #5a0d0a;
}

main {
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 15px;
  text-align: center;
  font-family: 'Cute Font', cursive;
}

#github {
  width: 50px;
  text-align: center;
  align-content: center;
}

.fancy {
  display: inline-block;
  justify-content: center;
  flex-direction: row;
  margin: 0 40px 0 0;
  margin: auto;
}

.githublr {
  justify-content: center;
}

.blurb {
  font-size: 15px;
  display: flex;
}

.google {
  justify-content: center;
  text-align: center;
  margin: auto;
}

.footer #button {
  width: 35px;
  height: 35px;
  border: #66101F 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #ff002b 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.footer {
  color: #66101F;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 2em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}

.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #F1FFC4;
}

.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

.footer h4 {
  font-size: 20px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}

.navbar {
  width: 100%;
  background-color: #F1FFC4;
  overflow: hidden;
}

.navbar a {
  float: right;
  padding: 12px;
  color: #66101F;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #23292F;
}

.active {
  background-color: #F1FFC4;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: right;
    display: block;
  }
}

.btn {
  background-color: #66101F;
  color: #F1FFC4;
  border-radius: 12%;
  font-family: 'Cute Font', cursive;
  font-size: 18px;
}