<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Address Book of <em>Menagerie of Monsters with Motivational Mail Messages! </em></h1>
  <table>
    <thead>
      <tr>
        <th>Profile</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% profiles.forEach(profile => { %>
        <li>
          📮
          <a href="/monsters/<%= profile.name %>"></a> Mailbox
        </li>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>