<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Monsters! </h1>
  <% if (user) { %>
    <h2>Make a Monster Message!</h2>
    <form action="/monsters" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
      <button type="submit">Send Monster</button>
    </form>
  <% } %>
	<ul>
  <% monsters.forEach(monster => { %>
    <li> <%= monster.name %> is (message placeholder)</li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>