<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/monsters" method="POST">
    <label for="monster-select">Choose Your Monster Messenger!:</label>
    <select name="monster-select" id="monster-select>
      <option value="Monster1">Test Monster 1</option>
      <option value="Monster2">Test Monster 2</option>
    </select>
    <label for="message-create-input">Create New Message!:</label>
    <input type="text" name="newMessage" id="message-create-input">
    <label for="message-select">OR Select a Message!:</label>
    <select name="message" id="message-select">
      <option value="Monster1">Test message 1</option>
      <option value="Monster2" selected>Test Message 2</option>
    </select>
    <button type="submit">Send Monster Message!</button>
  </form>
</main>

<%- include('../partials/footer') %> 